PUBLIC_BASE_URL=https://dktzr-memory.duckdns.org
EXPECTED_GITHUB_USER_ID=REPLACE_WITH_ACCOUNT_ID
GITHUB_CLIENT_ID=REPLACE_WITH_CLIENT_ID
GITHUB_CLIENT_SECRET=REPLACE_WITH_SECRET
STORAGE_ENCRYPTION_KEY=REPLACE_WITH_FERNET_KEY
JWT_SIGNING_KEY=REPLACE_WITH_PRIVATE_SIGNING_KEY
